body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.custom-numbered-list {
    counter-reset: list-counter;
    list-style: none;
    padding-left: 20px;
}

.custom-numbered-list li {
    counter-increment: list-counter;
    display: block;
}

.custom-numbered-list li::before {
    content: counters(list-counter, ".") ". ";
    font-weight: normal;
}


ins {
  text-decoration: none;
}
